<li class="px-2 py-4 border-b-2 border-gray-100 hover:bg-blue-100" (click)="createGroupMessage(groupItem.title)">
  <div class="flex justify-between mb-2">
    <div class="flex gap-x-2">
      <img [src]="groupItem.firstIcon" alt="community group icon" />
      <p>{{ groupItem.title }}</p>
    </div>
    <img src="../../../assets/icons/message.svg" alt="message icon" />
  </div>
  <div class="flex justify-between">
    <img src="../../../assets/icons/AvatarGroup.svg" alt="avatar group icon" />
    <img src="../../../assets/icons/joinGroup.svg" alt="join group icon" />
  </div>
</li>
